.form-title{
    text-transform: uppercase;
    font-size: 1.475vh;
    display: block;
}

.form-value{
    text-transform: uppercase;
    font-size: 1.6vh;
    display: block;
}

#resume-modal .modal-header{
    padding: 1rem 1rem 0rem !important;
    justify-content: center !important;
}