body{
    background-color: #D60000;

    height: 100vh !important;
    width: 100vw !important;
}

#logo-content{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#workshop-content{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
}

#logo-content img{
    max-width: 35vw !important;
}

#workshop-content img {
    max-width: 90vw !important;
}
